<!-- ===Vyshyvanka-Vibes-Footer=== -->
<footer class="page-footer footer-background-img">
  <div class="container footer-border">
    <ul class="page-footer-list">
      <li class="page-footer-list-item item-one">
        <a class="page-footer-list-link" href="#about">About us</a>
      </li>
      <li class="page-footer-list-item item-two">
        <a class="page-footer-list-link" href="#order">CUSTOMER ORDER</a>
      </li>
      <li class="page-footer-list-item item-three">
        <a class="page-footer-list-link" href="#collection">Our collection</a>
      </li>
      <li class="page-footer-list-item item-four">
        <a class="page-footer-list-link" href="#testimonials">Testimonials</a>
      </li>
    </ul>
    <p class="page-footer-text">
      A touch of <span class="yellow-text-footter">Ukrainian</span> culture in
      every embroidery
    </p>
  </div>
</footer>
