<!-- ===Vyshyvanka-Vibes-Footer=== -->
<footer class="page-footer footer-background-img">
    <div class="container">
        <ul class="page-footer-list">
            <li class="page-footer-list-item item-one" id=""><a href="">About us</a></li>
            <li class="page-footer-list-item item-two" id=""><a href="">CUSTOMER ORDER</a></li>
            <li class="page-footer-list-item item-three" id=""><a href="">Our collection</a></li>
            <li class="page-footer-list-item item-four" id=""><a href="">TEstimonials</a></li>
        </ul>
        <p class="page-footer-text">A touch of <span class="yellow-text-footter">Ukrainian</span> culture in every
            embroidery</p>
    </div>
</footer>