<!-- ===Vyshyvanka-Vibes-Header=== -->
<header>
    <div class="main-nav container">
    <div class="main-logo"><img src="/img/logo_vyshyvanka.svg" alt="vyshyvanka" /></div>
    <ul class="header-navigation-lits">
        <li class="header-nav-item"><a href="#about-us">About us</a></li>
        <li class="header-nav-item"><a href="#our-collection">Our collection</a></li>
        <li class="header-nav-item"><a href="#customer-order">CUSTOMER ORDER</a></li>
        <li class="header-nav-item"><a href="#testimonials">TEstimonials</a></li>
     </ul>
    <address class="fone-nuber">
        <a class="address-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
    </address>
     <ul class="heder-social-list">
      <li class="main-item"><a href="https://www.facebook.com/goITclub/" class="main-social-icon" target="_blank"><svg class="hed-icon-social" width="28" height="28"><use href="/img/svg.icons/icons.svg#icon-icon_facebook"></use></svg></a></li>
      <li class="main-item"><a href="https://www.instagram.com/goitclub/" class="main-social-icon" target="_blank"><svg class="hed-icon-social" width="28" height="28"><use href="/img/svg.icons/icons.svg#icon-icon_instagram"></use></svg></a></li>
      <li class="main-item"><a href="https://www.youtube.com/c/GoIT" class="main-social-icon" target="_blank"><svg class="hed-icon-social" width="28" height="28"><use href="/img/svg.icons/icons.svg#icon-icon_youtube"></use></svg></a></li>
     </ul>
<button class="heder-button-menu" type="button">
    <svg class="icon-heder-menu" width="36" height="24" ><use href="/img/svg.icons/icons.svg#icon-icon_nav_menu"></use></svg>
</button>
</div>
</header>