<!-- ===Vyshyvanka-Vibes-Hero=== -->

<section class="hero-section">
    <div class="container hero-container">
        <div class="hero-content-div">
            <div class="hero-title-div">
                <h1 class="hero-title">
                    Reviving the traditional
                    <span class="hero-title-span">Ukrainian</span> artistry in every
                    stitch.
                </h1>
                <button type="button" onclick="window.location.href='#order'" class="hero-button-order">
                    order
                    <svg class="hero-button-pointer" width="24" height="16">
                        <use href="/img/svg.icons/icons.svg#icon-pointer"></use>
                    </svg>
                </button>
            </div>
            <div class="logo-handmade-div">
                <svg class="hero-ten-star" width="52" height="51">
                    <use href="/img/svg.icons/icons.svg#icon-Star-10"></use>
                </svg>
                <p class="logo-handmade-div-par">all embroidery is made by hand</p>
            </div>
        </div>
        <picture>
            <source srcset="
          /img/hero-desktop-1440px-img.jpg    1x,
          /img/hero-desktop-1440px-img@2x.jpg 2x
        " media="(min-width: 1440px)" />
            <source srcset="/img/hero-desktop-img.jpg 1x, /img/hero-desktop-img@2x.jpg 2x"
                media="(min-width: 1280px)" />
            <source srcset="/img/hero-tablet-img.jpg 1x, /img/hero-tablet-img@2x.jpg 2x" media="(min-width: 768px)" />
            <img class="hero-pictures" src="/img/hero-mobile-img.jpg" srcset="/img/hero-mobile-img@2x.jpg 2x"
                alt="girl image" />
        </picture>
    </div>
</section>