<div class="modal-windows">
  <div class="container modal-windows-menu">
    <div class="modal-windows-container">
      <address class="contact">
        <a class="modal-windows-link" href="tel:+380684439426">
          +380 (68) 443-94-26
        </a>
      </address>
      <button class="modal-windows-btn" type="button">
        <svg class="modal-window-icon-svg" width="36" height="36">
          <use href="/img/svg.icons/icons.svg#icon-window-svg"></use>
        </svg>
      </button>
    </div>
    <nav class="navigation">
      <ul class="menu-list">
        <li class="menu-item">
          <a class="menu-link" href="">About us</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="">Our collection</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="">CUSTOMER ORDER</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="">Testimonials</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
