<!-- ===Vyshyvanka-Vibes-Order-Section=== -->
<div class="your-order-background-image"></div>
<section class="container">
  <div class="test">
    <div class="page-your-order">
      <h2 class="your-order-title">
        <span class="your-order-title-part">Your order</span> is our priority:
        Personalized approach and quality of service
      </h2>
      <form class="form-your-order">
        <input
          class="your-order-field"
          name="user-name"
          id="user-name"
          pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐ']+"
          type="text"
          placeholder="Enter your full name"
          required
        />
        <input
          class="your-order-field"
          name="user-email"
          id="user-email"
          type="email"
          placeholder="Enter your email"
          required
        />
        <textarea
          class="your-order-field your-order-textarea"
          name="user-comment"
          id="user-comment"
          required
          placeholder="Comments"
        ></textarea>
        <button type="submit" class="your-order-btn">
          Send
          <svg class="arrow-order-btn" width="24" height="16">
            <use href="../img/arrow-send-btn.svg#icon--1"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</section>
