<!-- ===Vyshyvanka-Vibes-Order-Section=== -->
<div class="your-order-background-image"></div>
<section class="container your-order-container">
  <div class="page-your-order">
    <div class="your-order-title-with-form">
      <h2 class="your-order-title" id="order">
        <span class="your-order-title-part">Your order</span> is our priority:
        Personalized approach and quality of service
      </h2>
      <form class="form-your-order">
        <input
          class="your-order-field"
          name="user-name"
          id="user-name"
          pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐ']+"
          type="text"
          placeholder="Enter your full name"
          required
        />
        <input
          class="your-order-field"
          name="user-email"
          id="user-email"
          type="email"
          placeholder="Enter your email"
          required
        />
        <textarea
          class="your-order-field your-order-textarea"
          name="user-comment"
          id="user-comment"
          required
          placeholder="Comments"
        ></textarea>
        <button type="submit" class="your-order-btn">
          Send
          <svg class="arrow-order-btn" width="24" height="16">
            <use href="/img/svg.icons/icons.svg#icon-pointer"></use>
          </svg>
        </button>
      </form>
    </div>
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          /img/order-2-desktop-1440px-img.jpg    1x,
          /img/order-2-desktop-1440px-img@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 1280px)"
        srcset="
          /img/order-2-desktop-img.jpg    1x,
          /img/order-2-desktop-img@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 1279px)"
        srcset="
          /img/order-2-tablet-img.jpg    1x,
          /img/order-2-tablet-img@2x.jpg 2x
        "
      />
      <img
        class="your-order-img"
        src="/img/order-2-desktop-img.jpg"
        alt="order 2"
      />
    </picture>
    <div class="ornament"></div>
  </div>
</section>
