<!-- ===Vyshyvanka-Vibes-Our-Collection-Section=== -->
<section class="section-collection ">
    <div class="container ornament">
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-list">
        <li class="collection-list-item">
            <picture>
                <source
                srcset="/img/collection-1-desktop-1440px-img.jpg 1x,
                /img/collection-1-desktop-1440px-img@2x.jpg 2x"
                media="(min-width: 1440px)"
                >
                <source
                srcset="/img/collection-1-desktop-img.jpg 1x,
                /img/collection-1-desktop-img@2x.jpg 2x"
                media="(min-width: 1280px)"
                >
                <source
                srcset="/img/collection-1-tablet-img.jpg 1x,
                /img/collection-1-tablet-img@2x.jpg 2x"
                media="(min-width: 768px)"
                >
                <source
                srcset="/img/collection-1-mobile-img.jpg 1x,
                /img/collection-1-mobile-img@2x.jpg 2x"
                media="(max-width: 767px)"
                >
                <img class="collection-img" src="/img/collection-1-mobile-img.jpg" alt="vyshyvanka" width="380" height="430" >
            </picture>
            <div class="collection-wrap">
                <h3 class="collection-name">August Poltava women's blousering</h3>
                <p class="collection-price">3300 UAH</p>
            </div> 
        </li>
        <li class="collection-list-item">
            <picture>
                <source
                srcset="/img/collection-2-desktop-1440px-img.jpg 1x,
                /img/collection-2-desktop-1440px-img@2x.jpg 2x"
                media="(min-width: 1440px)"
                >
                <source
                srcset="/img/collection-2-desktop-img.jpg 1x,
                /img/collection-2-desktop-img@2x.jpg 2x"
                media="(min-width: 1280px)"
                >
                <source
                srcset="/img/collection-2-tablet-img.jpg 1x,
                /img/collection-2-tablet-img@2x.jpg 2x"
                media="(min-width: 768px)"
                >
                <source
                src="/img/collection-2-mobile-img.jpg 1x,
                /img/collection-2-mobile-img@2x.jpg 2x"
                media="(max-width: 767px)"
                >
                <img class="collection-img" src="/img/collection-2-mobile-img.jpg" alt="vyshyvanka" width="380" height="430">
            </picture>
            <div class="collection-wrap">
                <h3 class="collection-name">Women's blouse Gorgany</h3>
                <p class="collection-price">3350 UAH</p>
            </div>
        </li>
        <li class="collection-list-item">
           <picture>
            <source
            srcset="/img/collection-3-desktop-1440px-img.jpg 1x,
            /img/collection-3-desktop-1440px-img@2x.jpg 2x"
            media="(min-width: 1440px)"
            >
            <source
            srcset="/img/collection-3-desktop-img.jpg 1x,
            /img/collection-3-desktop-img@2x.jpg 2x"
            media="(min-width: 1280px)"
            >
            <source
            srcset="/img/collection-3-tablet-img.jpg 1x,
            /img/collection-3-tablet-img@2x.jpg 2x"
            media="(min-width: 768px)"
            >
            <source
            srcset="/img/collection-3-mobile-img.jpg 1x,
            /img/collection-3-mobile-img@2x.jpg 2x"
            media="(max-width: 767px)"
            >
            <img class="collection-img" src="/img/collection-3-mobile-img.jpg" alt="vyshyvanka" width="380" height="430">
           </picture>
            <div class="collection-wrap">
                <h3 class="collection-name">Women's blouse Crimea</h3>
                <p class="collection-price">4000 UAH</p>
            </div>
        </li>
        <li class="collection-list-item">
            <picture>
            <source
            srcset="/img/collection-4-desktop-1440px-img.jpg 1x,
            /img/collection-4-desktop-1440px-img@2x.jpg 2x"
            media="(min-width: 1440px)"
            >
            <source
            srcset="/img/collection-4-desktop-img.jpg 1x,
            /img/collection-4-desktop-img@2x.jpg 2x"
            media="(min-width: 1280px)"
            >
            <source
            srcset="/img/collection-4-tablet-img.jpg 1x,
            /img/collection-4-tablet-img@2x.jpg 2x"
            media="(min-width: 768px)"
            >
            <source
            srcset="/img/collection-4-mobile-img.jpg 1x,
            /img/collection-4-mobile-img@2x.jpg 2x"
            media="(max-width: 768px)"
            >
            <img class="collection-img" src="/img/collection-4-mobile-img.jpg" alt="vyshyvanka" width="380" height="430">
           </picture>
            <div>
                <h3 class="collection-name">Men's shirt Verkhovina</h3>
                <p class="collection-price">3100 UAH</p>
            </div>
        </li>
        <li class="collection-list-item">
         <picture>
            <source
            srcset="/img/collection-5-desktop-1440px-img.jpg 1x,
            /img/collection-5-desktop-1440px-img@2x.jpg 2x"
            media="(min-width: 1440px)"
            >
            <source
            srcset="/img/collection-5-desktop-img.jpg 1x,
            /img/collection-5-desktop-img@2x.jpg 2x"
            media="(min-width: 1280px)"
            >
            <source
            srcset="/img/collection-5-tablet-img.jpg 1x,
            /img/collection-5-tablet-img@2x.jpg 2x"
            media="(min-width: 768px)"
            >
            <source
            srcset="/img/collection-5-mobile-img.jpg 1x,
            /img/collection-5-mobile-img@2x.jpg 2x"
            media="(max-width: 767px)"
            >
            <img class="collection-img" src="/img/collection-5-mobile-img.jpg" alt="vyshyvanka" width="380" height="430">
         </picture>
            <div class="collection-wrap">
                <h3 class="collection-name">Mountain men's shirt</h3>
            <p class="collection-price">3300 UAH</p>
            </div>
        </li>
        <li class="collection-list-item">
          <picture>
            <source
            srcset="/img/collection-6-desktop-1440px-img.jpg 1x,
            /img/collection-6-desktop-1440px-img@2x.jpg 2x"
            media="(min-width: 1440px)"
            >
            <source
            srcset="/img/collection-6-desktop-img.jpg 1x,
            /img/collection-6-desktop-img@2x.jpg 2x"
            media="(min-width: 1280px)"
            >
            <source
            srcset="/img/collection-6-tablet-img.jpg 1x,
            /img/collection-6-tablet-img@2x.jpg 2x"
            media="(min-width: 768px)"
            >
            <source
            srcset="/img/collection-6-mobile-img.jpg 1x,
            /img/collection-6-mobile-img@2x.jpg 2x"
            media="(max-width: 767px)"
            >
            <img class="collection-img" src="/img/collection-6-mobile-img.jpg" alt="vyshyvanka" width="380" height="430">
          </picture>
            <div class="collection-wrap">
                <h3 class="collection-name">Men's shirt Yasen</h3>
                <p class="collection-price">1700 UAH</p>
            </div>
        </li>
    </ul>
</div>
</section>

