/* ===About-Us-Section-Styles=== */

/* Reset styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  background-color: #1c2225;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  display: block;
}

img {
  display: block;
}

/*About-Us-Section-Styles*/
.about-us-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}

.about-us-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-us-title {
  font-weight: 500;
  font-size: 44px;
  line-height: 1.45455;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  margin-bottom: 20px;
}

.about-us-text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.04em;
  color: rgba(252, 249, 249, 0.4);
}
