/* ===Footer-Styles=== */
.page-footer {
    padding-top: 40px;
}
.footer-border {
    border-top: 1px solid rgba(252, 249, 249, 0.1);
    padding-top: 40px;
}

.page-footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    row-gap: 25px;
    column-gap: 30px;
    margin-bottom: 40px;

}

.page-footer-list-item {
    width: 124px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    text-transform: uppercase;
    color: #fcf9f9;

}

.page-footer-text {
    font-weight: 400;
    font-size: 44px;
    line-height: 1.23;
    letter-spacing: -0.03em;
    color: #fcf9f9;
    padding-bottom: 280px;
}

.yellow-text-footter {
    color: #ecd979;
}

.footer-background-img {

    background-image: url(/img/footer-background-mobile-img.png);
    background-repeat: no-repeat;
    background-size: 375px 200px;
    background-position: 100% 100%;

}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .footer-background-img {
        background-image: url(/img/footer-background-mobile-img@2x.png);
    }
}

@media screen and (min-width: 768px) {
    .page-footer {
        padding-top: 50px;
    }
    .page-footer-list {
        display: flex;
        flex-direction: row;
        gap: 0;
        margin-bottom: 70px;
    }

    .page-footer-list-item {
        width: fit-content;
        display: inline-flex;
        margin-right: 25px;

    }

        .item-two {
        order: 3;
        /* Переміщуємо на третє місце */
    }

        .item-three {
        order: 2;
        /* Переміщуємо на друге місце */
    }

        .item-four {
        order: 4;
    }

    .page-footer-text {
        width: 461px;
        font-size: 54px;
        line-height: 1.18;
        padding-bottom: 40px;
    }

    .footer-background-img {

        background-image: url(/img/footer-background-tablet-img.png);
        background-repeat: no-repeat;
        background-size: 174px 370px;
        background-position: 100% 100%;
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .footer-background-img {
        background-image: url(/img/footer-background-tablet-img@2x.png);
    }
}

@media screen and (min-width: 1280px) {
    .page-footer {
            padding-top: 75px;
        }
    .page-footer-list {
        margin-bottom: 117px;
    }

    .page-footer-text {
        width: 754px;
        font-size: 64px;
        line-height: 1.15;
    }

    .footer-background-img {

        background-image: url(/img/footer-background-desktop-img.png);
        background-repeat: no-repeat;
        background-size: 336px 363px;
        background-position: 100% 100%;
    }
}

@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
    .footer-background-img {
        background-image: url(/img/footer-background-desktop-img@2x.png);
    }
}

@media screen and (min-width: 1440px) {
    .footer-background-img {
        background-size: 496px 363px;
        background-image: url(/img/footer-background-desktop-1440px-img.png);
    }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
    .footer-background-img {
        background-image: url(/img/footer-background-desktop-1440px-img@2x.png);
    }
}