/* ===Hero-Styles=== */

.logo-handmade-div {
    display: none;
}

.hero-container {
    margin-bottom: 80px;
}

.hero-content-div {
    margin-bottom: 40px;
}

.hero-title-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.hero-title {
    font-weight: 400;
    font-size: 44px;
    line-height: 1.09091;
    letter-spacing: -0.03em;
    color: #fcf9f9;
}

.hero-title-span {
    color: #ecd979;
}

.hero-button-order {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin-left: 21%;

    text-transform: uppercase;
    color: #FCF9F9;
    background-color: #1C2225;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 36px;
    width: 154px;
    height: 49px;
}

@media screen and (max-width: 374px) {
    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }

    .hero-title {
        font-weight: 400;
        color: #fcf9f9;
    }

    .hero-pictures {
        width: 280px;
        height: 475px;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .hero-container {
        position: relative;
        margin-bottom: 100px
    }

    .hero-content-div {
        display: flex;
        margin-bottom: 46px;
    }

    .hero-title-div {
        gap: 40px;
        align-items: flex-start;
    }

    .hero-title {
        font-size: 54px;
        line-height: 1.18519;
        width: 549px;
    }

    .hero-button-order {
        padding: 14px 39px;
        width: 168px;
        height: 50px;
        margin-left: 24%;
    }

    .logo-handmade-div {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        top: 0px;
        right: 50px;
        width: 115px;
        margin-top: 19px;

        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.04em;
        text-align: center;
        color: rgba(252, 249, 249, 0.4);
    }
}

@media screen and (min-width: 1280px) {
    .hero-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 40px;
        margin-bottom: 150px;
    }

    .hero-content-div {
        align-items: center;
    }

    .hero-title {
        width: 518px;
    }

    .logo-handmade-div {
        top: 0px;
        right: 50px;
        margin-top: 29px;
    }
}

@media screen and (min-width: 1440px) {
    .hero-title {
        width: 630px;
        font-size: 64px;
        line-height: 1.15625;
    }

    .logo-handmade-div {
        top: 0px;
        right: 100px;
        margin-top: 100px;
    }
}
