
/* ===Our-Collection-Section-Styles=== */
.collection-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.375;
    letter-spacing: -0.03em;
    color: #fcf9f9;
    text-align: center;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.collection-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}
.collection-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fcf9f9;
    }
.collection-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.05em;
    color: rgba(252, 249, 249, 0.4);
}
.collection-img {
    margin-bottom: 18px;
    border-radius: 4px;
}
.collection-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    height: 36px;
}

.collection-background-img {
    background-repeat: no-repeat;
    background-size: 72px 117px;
    background-position: 0 12%;
    background-image: url(/img/collection-mobile-backgroung-img.png);
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .collection-background-img {
        background-image: url(/img/collection-mobile-backgroung-img@2x.png);
    }
}

.section-collection {
    padding-top: 40px;
    padding-bottom: 40px;
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .ornament {
        background-image: url(/img/elements-gold@2x.png);
    }
}
@media screen and (min-width: 768px) {
    .section-collection {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    .collection-title {
        font-size: 44px;
        line-height: 1.45;
    }
    .collection-wrap {
        width: 342px;
        height: 46px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .collection-name {
        font-size: 18px;
    }
    .collection-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    .collection-list-item {
        flex-basis: calc((100% - 20px) / 2);

    }
    .ornament {
        background-size: 338px 300px;
        background-position: top 185px left -218px;
    }
    .collection-price {
        font-size: 18px;
    }
    
    .collection-background-img {
        background-repeat: no-repeat;
        background-size: 114px 300px;
        background-position: 0 16%;
        background-image: url(/img/collection-tablet-backgroung-img.png);
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .collection-background-img {
        background-image: url(/img/collection-tablet-backgroung-img@2x.png);
    }
}


@media screen and (min-width: 1280px) {
    .section-collection {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .collection-wrap {
        overflow: visible;
    }
    .collection-list {
        justify-content: space-between;
        flex-basis: calc((100% - 40)/3);
        row-gap: 40px;
        column-gap: 20px;
    }
    .collection-list-item {
        flex: 1;
        flex-basis: calc((100% - 40)/3);
    }

    .collection-background-img {
         background-repeat: no-repeat;
         background-size: 169px 300px;
         background-position: 0 26%;
         background-image: url(/img/collection-desktop-backgroung-img.png);
         }
}

@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
    .collection-background-img {
        background-image: url(/img/collection-desktop-backgroung-img@2x.png);
    }
}

@media screen and (min-width: 1440px) {
    .collection-background-img {
         background-repeat: no-repeat;
         background-size: 169px 300px;
         background-position: 0 27%;
         background-image: url(/img/collection-desktop-1440px-backgroung-img.png);
         }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
    .collection-background-img {
        background-image: url(/img/collection-desktop-1440px-backgroung-img@2x.png);
    }
}
















